.hero-wrapper{
    /* border: 2px solid yellow; */
    height: 55vh;
}

.hero-banner-main-image{
    /* border: 2px solid blue; */
    height: 45%;
    position: relative;
    z-index: 1;
}
.hero-banner-main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-card{
    /* border: 2px solid red; */
    width: 90%;
    height: 70%;
    /* margin: 0 auto; */
    border-radius: 15px;
    position: absolute;
    top:130px;
    left:28px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    z-index: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
}



.top-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
}

.bottom-div{
width: 100%;
height: 100%;
/* border: 2px solid purple; */
    
}

.logo-wrapper{
    /* border: 2px solid yellow; */
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-div{
    /* border: 2px solid purple; */
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-div img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.logo-info{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    justify-content: center;
    /* gap:5px; */
    margin-left: 3px;
    /* border: 2px solid purple; */
    height: 100%;
    width: 100px;
}

.logo-heading{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.logo-subheading{
    font-size: 15px;
    font-weight: bold;
    color: gray;
    align-items: left;
    font-family: 'Roboto', sans-serif;
}

.share-icon{
    /* border: 2px solid orange; */
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.share-icon svg{
    font-size: 23px;


}

.bottom-div{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.star-data{
    width: 60%;
    /* border: 2px solid red; */
    height: 100%;
}

.star-1{
    /* border-bottom: 1px solid rgba(0,0,0,0.2); */
    height: 48%;
    display: flex;
    font-size: 13px;
    /* font-weight: bold; */
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
}

.green-star{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 18px;
    margin-left: 15px;
}


.line-div{
    background-color: rgba(0,0,0,0.2);
    opacity: 0.5;
    height: 1px;
    width: 90%;
    margin: 0 auto;
    
}

.star-2{
    /* border: 2px solid orangered; */
    height: 48%;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 18px;
    font-family: 'Roboto', sans-serif;
    gap: 5px;
}


.distance-info{
    width: 40%;
    /* border-left: 1px solid gray; */
    border-left: 1px solid rgba(0,0,0,0.1);
    height: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
}

.offer-cards{
    position: relative;
    top:100px;
    /* border: 2px solid red; */
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.offer-1{
    /* border: 2px solid red; */
    width: 43%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(245,245,245);
}
.offer-2{
    /* border: 2px solid orange; */
    width: 43%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245,245,245);
}

.dish-type{
position: relative;
 top:120px;
 /* border: 2px solid purple; */
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap:12px;
 padding-left: 20px;
 height: 20%;
}

.veg{
    /* border: 2px solid yellow; */
   

}
.veg-symbol{
    height: 5px;
    width: 5px;
    /* border: 1px solid green; */
   /* display: flex;
   flex-shrink: 0;
    border: 1px solid green; */
}



/* .dish-type button span{
    border: 1px solid purple;
    margin: 0px 2px;
   
} */

.dot-span{
    border: 1px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dish-type svg{
    font-size: 18px;
}



.hr-line{
    height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}


@media only screen and (max-width:450px){
    .info-card{
        /* border: 2px solid red; */
        width: 90%;
        height: 70%;
        /* margin: 0 auto; */
        border-radius: 15px;
        position: absolute;
        top:140px;
        left:20px;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
        z-index: 2;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
}